*{
    margin: 0;
    font-family: 'Karla', sans-serif;
}
#container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 100vh;
    min-width: 100vw;
}
#child{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#header{
    border: none;
    padding: 30px;
}
#subscription{
    border: none;
    padding: 30px;
    background-color: hsl(179, 62%, 43%);
    color: white;
    line-height: 1.5;
}
#about{
    border: none;
    padding: 30px;
    background-color: hsl(179, 62%, 43%);
    opacity: 0.7;
    color: white;
    line-height: 2;
}
h1{
   color: hsl(179, 62%, 43%); 
}
h2{
    color: hsl(71, 73%, 54%);
    margin-top: 40px;
}
header p{
    color: hsl(218, 22%, 67%);
    margin-top: 40px;
    line-height: 2;
    font-size: 17px;
}
h3{
    font-weight: 700;
    margin-bottom: 30px;
}
#about p{
    color: hsl(204, 43%, 93%);
}
span{
    font-size: 30px;
    font-weight: 700;
}
button{
    background-color: hsl(71, 73%, 54%);
    border: none;
    color: white;
    width: 100%;
    font-size: 18px;
    padding: 12px;
    font-weight: 700;
    border-radius: 8px;
    display: flex;
    justify-self: center;
    margin-top: 60px;
    margin: 60px auto;
    text-align: center;
}
@media screen and (max-width: 800px){
    #child{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    button{
        width: 100%;
        text-align: center;
    }
    #container{
        grid-template-rows: 1fr;
    }
}